@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Inicio", "Inicial")">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Cadastrar", "Cadastro")">Cadastro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Consultar", "Consulta")">Consulta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Pesquisar", "Pesquisa")">Pesquisa</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="alert alert-primary" role="alert">
  Estudar para dedicar e entender melhor cada processo e seu desenvolvimento
</div>
<div class="alert alert-secondary" role="alert">
  Arofundmento no conheicmento aprimorado
</div>
<div class="alert alert-success" role="alert">
  Evoluir ainda mais no conheicmento ara  melhor aprimoramento
</div>
<div class="alert alert-danger" role="alert">
  Deidcar ainda mais no estuo ár evoluir no aperfeiçoamento de cada projeto e conheicmento de tenologia
</div>
<div class="alert alert-warning" role="alert">
  Evoluir mais no aprendizado de um entendimento aprofundado nos sistemas
</div>
<div class="alert alert-info" role="alert">
  Crecer no conheicmento tecnico, conhecendo as tecnologias apropriadas
</div>
<div class="alert alert-light" role="alert">
  Aprofundar cada aprimoramento d euma evolução, criteriosa, no estudo tecnico
</div>
<div class="alert alert-dark" role="alert">
  Dedicar melhor no entendimeto do processo e das tecnologias
</div>
</div>
